<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Employee Directory</title>
</head>

<body>

<div class="container">
    <h3>Employee Directory</h3>
    <hr>

    <a th:href="@{/users/add}"
       class="btn btn-primary btn-sm mb-3"
    >Add User
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>SALARY</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempUser: ${users}">
            <td th:text="${tempUser.id}" />
            <td th:text="${tempUser.name}" />
            <td th:text="${tempUser.age}" />
            <td th:text="${tempUser.salary}" />
            <td>
                <div class="row">
                    <div class="col-small">
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/users/showFormForUpdate}" method="POST">
                            <input type="hidden" name="userId" th:value="${tempUser.id}" />
                            <button type="submit" class="btn btn-info btn-sm">
                                Update
                            </button>
                        </form>
                    </div>
                    <div class="col-small">
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/users/delete}" method="POST">
                            <input type="hidden" name="userId" th:value="${tempUser.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this User ?'))) return false;">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>