<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <title>Save Menu</title>
</head>

<body>
<div class="container">
    <h3>Menu Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Menu</p>
    <form action="#" th:action="@{/menu/save}" th:object="${menu}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Name" required />
        <input type="text" th:field="*{price}" class="form-control mb-4 col-4" placeholder="price" required />
        <input type="text" th:field="*{description}" class="form-control mb-4 col-4" placeholder="quantity" required />
        <input type="file" name="file" class="form-control mb-4 col-4" placeholder="Image">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/menu/list}">Back to Menu List</a>
</div>
</body>

</html>